.header {
  position: fixed;
  z-index: 1;
  top: 0;
  width: 100%;
  height: 4em;
  background: black;
  color: white;
  display: flex;
  justify-content: center;
}

.posts {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 4.4em auto 3.5em auto;
  max-width: 60%;
}
